src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracing="http://www.mulesoft.org/schema/mule/tracing" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/tracing http://www.mulesoft.org/schema/mule/tracing/current/mule-tracing.xsd">
	<flow name="check-in-by-pnr" doc:id="d18561c8-01ed-42ed-8eda-be13cb5bace1" >
		<flow-ref doc:name="set-logging-vars" doc:id="68fabc49-e244-413d-9a3c-0fcfed881325" name="set-logging-vars"/>
		<set-variable value="#[message.payload]" doc:name="checkInPayload" doc:id="de6ab38c-8ac9-4d77-a1cb-4a300ab7f40d" variableName="checkInPayload"/>
		<flow-ref doc:name="check-in-flights-management" doc:id="c561ea3d-1741-4f51-b83a-0eb070d9fe95" name="check-in-flights-management"/>
		<flow-ref doc:name="register-passenger-data" doc:id="2ae99888-a1c0-4145-a558-16883d1b7628" name="register-passenger-data"/>
		<flow-ref doc:name="create-payment-for-bags" doc:id="b29052e8-a456-4898-8bf7-aff5574bf9f2" name="create-payment-for-bags"/>
		<ee:transform doc:id="24f8bf94-1932-4603-9b0b-82f8fed1d1bb">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  paymentID: "PAY-1AKD7482FAB9STATKO"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="payload" doc:id="bd1ac12e-c9ef-4da1-9a62-64b10d0c0ae2" message="#[payload]"/>
	</flow>
	<flow name="payment-approval-by-pnr" doc:id="1a904c98-c02c-4c9e-ae46-6e20a259ab88" >
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  lastName: "Smith",
  flightDate: "2019-02-14",
  depart: "14:30:00",
  boarding: "13:15:00",
  gate: "4A",
  flight: "ANY6584",
  airportDepart: "ATL",
  airportArrive: "SFO",
  class: "Economy",
  seat: "16C",
  bagsCount: 2,
  PNR: "928382J"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
	</flow>
	<flow name="check-in-flights-management" doc:id="7aa03be5-4ff8-4e01-922c-1b390f62304c" >
		<logger level="INFO" doc:name="Logger" doc:id="fba46e5a-d844-412c-b01c-df93f2607eaf" />
	</flow>
	<flow name="register-passenger-data" doc:id="ec1c3f03-933c-424f-a17c-2c7e2ea46ec3" >
		<logger level="INFO" doc:name="Logger" doc:id="4887603f-dff3-408a-bc51-91c6d201ce11" />
	</flow>
	<flow name="create-payment-for-bags" doc:id="9fe1d3bb-2b2d-4d5f-b7be-de1738cdf278" >
		<logger level="INFO" doc:name="Logger" doc:id="2ba476a0-3fb9-45c2-82f3-ca600ab238c6" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="64245c9c-b7c0-490d-933f-5d73353848d3" >
				<raise-error doc:name="APP:CANT_CREATE_PAYMENT" doc:id="f45cd644-1eca-4531-8bcd-fdd4e53f38ad" type="APP:CANT_CREATE_PAYMENT"/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<sub-flow name="set-logging-vars" doc:id="12f186a3-565d-4c3c-ac31-3756a5ce5791">
		<ee:transform doc:name="set traceObject" doc:id="460e42b6-ebe4-4ce0-837f-c609885f104e">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="traceObject"><![CDATA[%dw 2.0
output application/java
---
{
	traceName: message.payload.lastName as String default "",
	tracePNR: vars.PNR default ""
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="HashMap to Array" doc:id="f2f116ec-bf93-454d-8474-48b7a3e72ec2">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="traceArray"><![CDATA[%dw 2.0
output application/java
---
pluck(vars.traceObject, (value, key, idx) -> 
	{
	"key": key,
	"value": value
}
)]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each traceArray" doc:id="27ad0dd4-b145-4e36-977a-1b38523f383a" collection="#[vars.traceArray]">
			<tracing:set-logging-variable doc:name="each key=value" doc:id="d911a2e6-6224-42bb-bd14-3a8460c85798"
				variableName="#[payload.key]" value="#[payload.value]" />
		</foreach>
		<remove-variable doc:name="traceObject" doc:id="9e891b53-262e-41c4-b0eb-4ef84069f91e" variableName="traceObject"/>
		<remove-variable doc:name="traceArray" doc:id="2a5e1991-069a-49a4-a681-a3fb4b9f31e7" variableName="traceArray" />
	</sub-flow>
</mule>